<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Breaking the Cycle</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Breaking the Cycle</a>
        </div>
      </div>
    </nav>

        <br><br>
        <br><br>

        <div class="container">
          <div class="row">
      
            <div class="col-md-3">
          
              <img src="http://www.clipartkid.com/images/673/light-violet-circle-clip-art-at-clker-com-vector-clip-art-online-ipSjqH-clipart.png" alt="test" class="img-responsive">
          
              <div class="carousel-caption">

                  <h1>{{the_result7}}th</h1>
                  <h3>readmission percentile</h3>
                  <h5>(actual: {{the_result1}}%) </h5>
                  <h5>error percent: {{the_result}}%</h5>
              </div>

          
<!--           </div>
              <div class="col-md-3">
          
              <img src="http://www.clipartkid.com/images/673/light-violet-circle-clip-art-at-clker-com-vector-clip-art-online-ipSjqH-clipart.png" alt="test1" class="img-responsive">
          
              <div class="carousel-caption">
                <h1>{{the_result6}}th</h1>
                <h2>error percentile</h2>
                <h7>actual: {{the_result}}%</h7>
              </div> -->
          

          </div>
      <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style = "margin-right: 300px;">
  <h1>The biggest predictors for {{value}} are:</h1>
  <h3>1. {{the_result2}}</h3>
  <h3>2. {{the_result3}}</h3>
  <h3>3. {{the_result4}}</h3>     
</div>

<br><br>
<br><br>

<div class="container">
<h2 class="sub-header">Insights:</h2>
<h4>{{the_result5}}</h4>
</div>

</body>
</html>
      
         </div>
          
          
        </div>
  
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>